/****************************************************************
// General
****************************************************************/
.center {
  text-align: center;
}

.centerButton {
  display: block;
  margin: 0 auto;
}

.tableCenter {
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: lightblue;
}

h3 {
  margin: 10px;
}

.float {
  float: left;
}

/***********************************************************
  Starting page
***********************************************************/
.s_startP {
  display: block;
  height: 100vh;
}

.absoluteCenter {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 80vw;
}

/****************************************************************
// REG Page
****************************************************************/
.inputSpacing {
  margin: 17px;
}

.s_regP {
  height: 100vh;
  display: none;
}

/****************************************************************
// lobby Page
****************************************************************/
.s_lobbyP {
  height: 100vh;
  display: none;
}

/****************************************************************
// pending lobby Page
****************************************************************/
.s_pendingP {
  height: 100vh;
  display: none;
}

.initActiveGame {
  color: black;
}

table {
  width: 80%;
  border-collapse: collapse;
  background-color: white;
}

table, th, td {
  border: 1px solid;
}
/****************************************************************
// active lobby Page
****************************************************************/
.s_activeP {
  height: 100vh;
  display: none;
}

/****************************************************************
// Game
****************************************************************/

/* left wing *****************/
.p1 {
  background-color: white;
  width: 20vw;
  height: 100vh;
  border: solid;
  border-color: black;
  color: black;
}

/* game body *****************/
.s_gameP {
  display: none;
}

.header {
  background-color: white;
  height: 20vh;
  border: solid;
  border-color: black;
  margin: 0px;
  color: black;
}

.footer {
  background-color: white;
  height: 20vh;
  border: solid;
  border-color: black;
  margin: 0px;
  color: black
}

.resetBTN {
  display: none;
  margin: auto;
}

.tttbutton {
  height: 20vh;
  width: calc(100% / 3);
  border: solid;
  border-color: black;
  background-color: lightgray;
  color: black;
  margin: 0px;
}

/* right wing *******************/
.p2 {
  background-color: white;
  height: 100vh;
  float: left;
  border: solid;
  border-color: black;
  color: black
}

/****************************************************************
// End Of Code
****************************************************************/